html, body, div, ul, li, h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0

a
  text-decoration: none
  color: #2d2d2d

.card-expanded-container
  position: absolute
  background-color: rgba(0,0,0,0.4)
  z-index: 2
  .card-expanded
    display: flex
    flex-direction: column
    flex: 1 1 500px
    justify-content: center
    box-shadow: 4px 4px 4px rgba(0,0,0,0.3)
    transform: scale(1.2)
    .card-section
      background-color: #fff
      justify-content: space-between
      flex-direction: row
      border-bottom: 1px solid rgba(0,0,0,0.1)
      img


.pets-container
  margin: 25px 80px
  display: flex
  flex-wrap: wrap
  justify-content: center
  .card
    display: flex
    flex-direction: column
    margin: 5px
    max-width: 300px
    height: 280px
    flex: 1 1 300px
    border: 1px solid rgba(0,0,0,0.1)
    border-radius: 4px
    transition: 0.2s
    &:hover
      transform: scale(0.95)
      transition: 0.2s
    .card-section
      display: flex
      position: relative
      justify-content: space-between
      flex-direction: row
      border-bottom: 1px solid rgba(0,0,0,0.1)
      background-color: #fff
      img
        width: 100%
      h4
        padding: 10px 10px 5px 10px

.navbar-wrapper
  width: 100%
  border: 1px solid rgba(0,0,0,0.1)
.navbar
  margin: 0 auto
  max-width: 1000px
  padding: 10px 20px
  display: flex
  justify-content: space-between
  .navbar-brand
    flex: 3
  ul
    flex: 1
    display: flex
    list-style: none
  li
    display: flex
    justify-content: flex-end
    flex: 1

.new-post
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: center
  width: 50%
  margin: 30px auto
  border: 1px solid rgba(0,0,0,0.3)
  border-radius: 4px
  .new-section
    position: relative
    justify-content: space-between
    flex-direction: row
    border-bottom: 1px solid rgba(0,0,0,0.1)
    padding: 20px 30px
    label
      padding-right: 10px
      border-right: 4px solid rgba(0,0,0,0.1)
      margin-right: 10px
    img
      margin: 10px
      max-width: 400px
